_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
debug.log
__pycache__
.DS_STORE
.env*
package.json
package-lock.json
yarn.lock
node_modules
Website Information 5 Feb 2026.xlsx
Website information.xlsx
images/New Logo & Background/.bundle/
