<!--
  modify main content of page:
  - add section breaks
  - attach section properties
  - filter out blank sections
-->

{% assign content = include.content %}

{% assign sections = content | split: "<!-- section break -->" | array_filter %}

{% for section in sections %}
  {% assign dark = section
    | regex_scan: "<dark>(.*?)</dark>"
    | default: ""
    | strip
  %}
  {% assign image = section
    | regex_scan: "<background>(.*?)</background>"
    | default: ""
    | strip
  %}
  {% assign size = section
    | regex_scan: "<size>(.*?)</size>"
    | default: "page"
    | strip
  %}
  {% if size == "" %}
    {% assign size = "page" %}
  {% endif %}

  <section
    class="background"
    data-size="{{ size }}"
    {% if dark == "true" or dark == "false" %}
      data-dark="{{ dark }}"
    {% endif %}
    {% unless image == "" or image contains "<" or image contains ">" %}
      style="--image: url('{{ image | relative_url | uri_escape }}')"
    {% endunless %}
  >
    {{ section }}
  </section>
{% endfor %}
